button{
    background-color:red;
    width: 150px;
   height: 130px;
   color:white;
}

#tr {
    position: absolute;
    right: 20px;
}
#bl{
    position: absolute;
    right: 20px;
    bottom:20px ;
}
#br{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
/* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>The missing child escape room</title>
</head>
<body>
  <button></button>
  <button id="tr"></button>
  <button id="bl"></button>
  <button id="br"></button>
</body>
</html */